# Django
DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=True
SECRET_KEY=secret_key
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (used by Django locally)
DB_NAME=viernulvier_dev
DB_USER=postgres
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432

# External API
VIERNULVIER_API_KEY=viernulvier_api_key

# Internal API Keys
PUBLIC_API_KEY=public_api_key
INTERNAL_API_KEY=internal_api_key
