venv/
.venv/

.env

*__pycache__
.pytest_cache

.idea/
db.sqlite3

/media/
.media/
staticfiles/
static/
!apps/core/static/
!apps/core/static/admin/
!apps/core/static/admin/js/
!apps/core/static/admin/js/*.js
.coverage
