# Django
DJANGO_SETTINGS_MODULE=config.settings.prod
SECRET_KEY=secret_key
DEBUG=False
ALLOWED_HOSTS=domain.example.com
DOMAIN=domain.example.com

# Database (used by Django inside container)
DB_NAME=viernulvier
DB_USER=postgres
DB_PASSWORD=db_password
DB_HOST=database
DB_PORT=5432

# Database (used by PostgreSQL container)
POSTGRES_DB=viernulvier
POSTGRES_USER=postgres
POSTGRES_PASSWORD=db_password

# External API
VIERNULVIER_API_KEY=viernulvier_api_key

# Internal API Keys
PUBLIC_API_KEY=public_api_key
INTERNAL_API_KEY=internal_api_key
