# Django
SECRET_KEY=secret_key
DOMAIN=localhost

# PostgreSQL
POSTGRES_DB=viernulvier
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password

# API keys
VIERNULVIER_API_KEY=viernulvier_api_key
PUBLIC_API_KEY=public_api_key
INTERNAL_API_KEY=internal_api_key

# Redis
REDIS_URL=redis_url