# Django
DJANGO_SETTINGS_MODULE=config.settings.prod
SECRET_KEY=${SECRET_KEY}
DEBUG=False
ALLOWED_HOSTS=${ALLOWED_HOSTS}
DOMAIN=${DOMAIN}

# Database (used by Django inside container)
DB_NAME=${DB_NAME}
DB_USER=${DB_USER}
DB_PASSWORD=${DB_PASSWORD}
DB_HOST=database
DB_PORT=5432

# Database (used by PostgreSQL container)
POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}

# External API
VIERNULVIER_API_KEY=${VIERNULVIER_API_KEY}

# Internal API Keys
PUBLIC_API_KEY=${PUBLIC_API_KEY}
INTERNAL_API_KEY=${INTERNAL_API_KEY}
