# Django
DJANGO_SETTINGS_MODULE=config.settings.prod
SECRET_KEY=secret_key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (used by Django inside container)
DB_NAME=viernulvier_archief_staging
DB_USER=postgres
DB_PASSWORD=db_password
DB_HOST=db
DB_PORT=5432

# Database (used by PostgreSQL container)
POSTGRES_DB=viernulvier_archief_staging
POSTGRES_USER=postgres
POSTGRES_PASSWORD=db_password

# External API
VIERNULVIER_API_KEY=viernulvier_api_key

# Internal API Keys
PUBLIC_API_KEY=public_api_key
INTERNAL_API_KEY=internal_api_key
