# Django
SECRET_KEY=secret_key
DOMAIN=localhost

# PostgreSQL
POSTGRES_DB=viernulvier_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=db_password

# API keys
VIERNULVIER_API_KEY=60d4b42665b2251a14ac5c5bf5adabab3673bcdfbc68
PUBLIC_API_KEY=public_api_key
INTERNAL_API_KEY=internal_api_key

# Redis
REDIS_URL=redis://127.0.0.1:6379/1